
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 全体共通 */
a {
  text-decoration: none;
  color: black;
}

button:hover {
  opacity: 0.5;
}

ul {
  list-style: none;
}

.title {
  font-size: 50px;
}

@media screen and (max-width: 480px){
  
  .title {
    text-align: center;
  }
}

/* Header */
.header-content {
  font-family: 'Modak', cursive;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 35px;
}

.header-content li {
  transform   : skewX(-20deg);
}

.header-content li:hover {
  color: red;
}

@media screen and (max-width: 480px){

  .header-content {
    font-family: 'Modak', cursive;
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 27px;
  }
  
  .header-content {
    padding: 0 30px;
  }
}

/* Home */
.home {
  position: relative;
}

.home-content {
  width: 100%;
  position: relative;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translateY(30%) translateX(-50%);
}

.animation {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.name {
  width: 100%;
  color: #B1F9D0;
  position: relative;
  top: -50px;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
  font-size: 70px;
  font-weight: 800;
  text-align: center;
}

.home-button {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 100px;
}

.home-button button {
  font-size: 40px;
  padding: 20px;
  border: none;
  border-radius: 30px;
}

@media screen and (max-width: 700px){
  .home {
    position: absolute;
  }

}

@media screen and (max-width: 480px){
  .home {
    position: relative;
  }

  canvas {
    width: 250px !important;
    height: 270px !important;
  }

  .home-content {
    width: 300px;
    position: relative;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateY(30%) translateX(-50%);
  }

  .animation {
    width: 250px !important;
    height: 330px !important;
    margin: 0 auto;
  }

  .name {
    width: 100%;
    color: #B1F9D0;
    position: relative;
    top: -50px;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
  }

  .home-button {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10px;
  }

  .home-button button {
    font-size: 30px;
    padding: 20px;
    border: none;
    border-radius: 30px;
  }

}



/* About */
.about {
  width: 900px;
  margin: 100px auto;
  padding: 10px 30px;
  border: solid 5px #B1F9D0;
}

.about-content {
  font-weight: bold;
}

.about-content-bottom {
  margin-top: 60px;
}

@media screen and (max-width: 480px){
  .about {
    width: 320px;
    padding: 10px 10px;
    margin: 100px auto;
  }
}

/* Work */
.work {
  width: 900px;
  margin: 100px auto;
  padding: 10px 30px;
  border: solid 5px #B1F9D0;
}

.work-content {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  padding: 0 80px;
}

@media screen and (max-width: 480px){
  .work {
    width: 320px;
    padding: 10px 10px;
    margin: 100px auto;
  }

  .work-content {
    padding: 0 15px;
  }
}

/* Card */
.card {
  padding: 50px 10px; 
  width: 350px;
}

.card:hover {
  opacity: 0.5;
}

.card-text {
  margin-top: 20px;
}

.card-title {
  text-align: center;
  font-size: 30px;
}

.card-desc {
  margin-top: 10px;
  font-weight: normal;
}

img {
  padding: 10px 5px;
  width: 350px;
  height: 200px;
  object-fit: cover;
}

@media screen and (max-width: 480px){
  .card {
    padding: 50px 0px; 
    width: 350px;
  }

  img {
    width: 275px;
    height: 200px;
    object-fit: cover;
  }
}


